*{
    background-color:#fff3e6;
    padding: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #6a0f35;
}
h1{
    background-color:#6a0f35;
    color: beige;

}
.maior{
    width: 65%;
    margin-top: 15%;
}
.menor{
    
}
img{
    width: 55%;
    margin-left: 25px;
}
.div1{
    background-color: #6a0f35;
    color:  beige;
    border-width: 3px; 
    border-style: solid; 
    border-color: black;
    position: relative;
    width: 100px;
    margin-left: -15px;
   
}

